.AddUser{
    border: 2px solid rgb(3, 10, 105);
    text-align: center;
    background: #eceefc;
    color: rgb(0, 163, 253);
    margin: 35px;
    padding: 5px;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    font-size: calc(10px + 1vmin);
}
